/* *{
    background-color: black;
    color: white;
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-top: 10px;
    margin-bottom: 5px;
}

button{
    margin-bottom: 40px;
}

table {
    border-collapse: collapse;
  }
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

